RewriteBase /

AddType application/octet-stream .exe
AddType application/x-rar-compressed .rar
AddDefaultCharset utf-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L]
